<%= render 'shared/header' %>
<h1>Edit <%= @band.name %></h1>
<form action="/bands/<%= @band.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token"/>
  <input type="hidden" name="_method" value="PATCH"/>
  <label for="band_name">Band name: </label>
  <input type="text" id="band_name" name="band[name]" value="<%=@band.name%>"/>
  <button>Submit</button>
</form>
